
.first_Code{
    font-weight: bold;
}

.second_Code{
    text-decoration: line-through;
}

[id="third"]{
    color: aqua;
}

a:active{
    background-color: brown;
}

.une:hover{
    font-size: xx-small;
    display: none;
}

